body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#select-player-attrs-dropdown .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player-attrs-dropdown .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player-attrs-dropdown .Select-value-label {
    color: white !important;
}

#select-player1-attr1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player1-attr1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player1-attr1 .Select-value-label {
    color: white !important;
}


#select-player1-attr2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player1-attr2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player1-attr2 .Select-value-label {
    color: white !important;
}

#select-player1-attr3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player1-attr3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player1-attr3 .Select-value-label {
    color: white !important;
}

#select-player1-attr4 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player1-attr4 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player1-attr4 .Select-value-label {
    color: white !important;
}

#select-player2-attr1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player2-attr1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player2-attr1 .Select-value-label {
    color: white !important;
}

#select-player2-attr2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player2-attr2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player2-attr2 .Select-value-label {
    color: white !important;
}

#select-player2-attr3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player2-attr3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player2-attr3 .Select-value-label {
    color: white !important;
}


#select-player2-attr4 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player2-attr4 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player2-attr4 .Select-value-label {
    color: white !important;
}

#select-player3-attr1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player3-attr1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player3-attr1 .Select-value-label {
    color: white !important;
}


#select-player3-attr2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player3-attr2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player3-attr2 .Select-value-label {
    color: white !important;
}

#select-player3-attr3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player3-attr3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player3-attr3 .Select-value-label {
    color: white !important;
}

#select-player3-attr4 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player3-attr4 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player3-attr4 .Select-value-label {
    color: white !important;
}

#select-player1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player1 .Select-value-label {
    color: white !important;
}


#select-player2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player2 .Select-value-label {
    color: white !important;
}

#select-player3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player3 .Select-value-label {
    color: white !important;
}


#select-players-single .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-players-single .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-players-single .Select-value-label {
    color: white !important;
}


#select-single-attr1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-single-attr1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-single-attr1 .Select-value-label {
    color: white !important;
}

#select-single-attr2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-single-attr2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-single-attr2 .Select-value-label {
    color: white !important;
}


#select-single-attr3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-single-attr3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-single-attr3 .Select-value-label {
    color: white !important;
}

#select-single-attr4 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-single-attr4 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-single-attr4 .Select-value-label {
    color: white !important;
}


#type-of-comparison .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#type-of-comparison .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#type-of-comparison .Select-value-label {
    color: white !important;
}


#pcp-attribute-1 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#pcp-attribute-1 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#pcp-attribute-1 .Select-value-label {
    color: white !important;
}


#pcp-attribute-2 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#pcp-attribute-2 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#pcp-attribute-2 .Select-value-label {
    color: white !important;
}


#pcp-attribute-3 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#pcp-attribute-3 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#pcp-attribute-3 .Select-value-label {
    color: white !important;
}

#pcp-attribute-4 .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#pcp-attribute-4 .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#pcp-attribute-4 .Select-value-label {
    color: white !important;
}


#keepers-or-players .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#keepers-or-players .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#keepers-or-players .Select-value-label {
    color: white !important;
}


#select-countries-pitch .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-countries-pitch .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-countries-pitch .Select-value-label {
    color: white !important;
}

#select-attacker-pitch .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-attacker-pitch .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-attacker-pitch .Select-value-label {
    color: white !important;
}


#select-midfielder-pitch .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-midfielder-pitch .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-midfielder-pitch .Select-value-label {
    color: white !important;
}


#select-defender-pitch .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-defender-pitch .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-defender-pitch .Select-value-label {
    color: white !important;
}


#select-keeper-pitch .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-keeper-pitch .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-keeper-pitch .Select-value-label {
    color: white !important;
}


#select-player .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#select-player .Select-value-label {
    color: white !important;
}



#player-dropdown .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#player-dropdown .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#player-dropdown .Select-value-label {
    color: white !important;
}


#pick-attribute .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#pick-attribute .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}


#pick-attribute .Select-value-label {
    color: white !important;
}

