body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#select-player-attrs-dropdown .Select-control {
    background-color: #111111 !important;
    color:white;
  }
  
#select-player-attrs-dropdown .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

/* changes the text color of input box */
#select-player-attrs-dropdown .Select-value-label {
    color: white !important;
}

